
<button (click)="isOpen = true; openCamera()">Camera</button>
<button (click)="openGallery()">Gallery</button>


<ng-container *ngIf="isOpen">
    <span #cameraSpan></span>
  <!-- The hidden file `input` for opening the native camera -->
  <!-- <input id="cameraFileInput" accept="image/*, android/force-camera" capture="environment" type="file" [hidden]="true" (change)="onCapture($event)" /> -->
  <!-- <input type="file" capture="environment" id="cameraFileInput" [hidden]="true" (change)="onCapture($event)" /> -->
  <input id="cameraFileInput" accept="image/*" capture="environment" type="file" [hidden]="true" (change)="onCapture($event)" />

</ng-container>

<input #fileInput hidden type="file" accept="image/*, .heic, .heif, .pdf" (change)="onFileSelected($event)" />

<img *ngIf="imageSrc" [src]="imageSrc" alt="img">


